 body { background-color: #06aef3; }

/* SVG Icon Properties */

.background--color{fill:#9ADAF5;}
.background--shadow{fill:#0678A6;fill-opacity:0.25;}
.env--shadow{fill:#EDEDED;}
.env-base--color{fill:#F2F2F2;}
.env-int--shadow{fill:#D3D3D3;}
.primary--color{fill:#0678A6;}
.symbol--color{fill:#FFFFFF;}

/* SVG Icon Properties End */

/* General Settings */

h1, h2, h3, h4, h5, h6 {
    font-family: "Crimson Text";
    color: #0678A6;
    text-align: left;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.5em;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.5em;
}

h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.5em;
}

h4 {
    font-size: 28px;
    font-weight: 800;
    line-height: 1.5em;
}

h5 {
    font-size: 24px;
    font-weight: 800;
    line-height: 1.5em;
}

h6 {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5em;
    font-style: italic;
}

p, input, textarea {
    font-family: "Roboto Condensed";
    font-size: 16px;
    line-height: 1.5em;
}

.contact-button {
    font-family: "Roboto Condensed";
    font-size: 24px;
    color: #0678A6;
    line-height: 1.5em;
    margin: 24px 0;
    width: 60%;
    background-color: #ffffff;
    border: 2px solid #0678A6;
    overflow: hidden;
    transition: all 600ms;
}

.contact-button:hover {
    background-color: #0678A6;
    color: #ffffff;
    cursor: pointer;
}

.wrapper {
    width: 100%;
}

.contact-wrapper {
    width: 500px;
    height: 700px;
    margin: 30px auto;
    text-align: center;
}

.contact-header {
    height: 100px;
    width: 500px;
    padding: 0;
    margin-left: 38px;
    background-color: rgba(255, 255, 255, 0.8);
}

.contact-form--wrap {
    background-color: #ffffff;
}

.contact-form--wrap-thanks {
    background-color: #ffffff;
    transform: rotateZ(-180deg) rotateY(180deg);
    transform-origin: center;
}

.contact-form-thanks-message--wrap {
    height: 50%;
    margin-top: auto;
}

.contact-form--wrap-thanks h3 {
    margin: 15px 0;
    width: 80%;
    padding: 0 50px;
}

.contact-form--wrap h3 {
    margin: 15px 0;
    width: 80%;
    padding: 0 50px;
}

.contact-form--wrap-thanks p {
    padding: 0 50px;
    text-align: left;
}

.thank-you-message {
    display: block;
    margin-top: 150px;
}

.thank-you-message p {
    text-align: justify;
    padding: 0 64px;
}

.thank-you-message h3 {
    text-align: center;
}


form {
    width: 100%;
}

.contact-form {
    margin: 10px 0px;
    width: 100%;
}

form input[type=text] {
    text-align: left;
    box-sizing: border-box;
    padding: 0 10px;
    margin: 12px auto;
    width: 80%;
    height: 32px;
    border: 1px solid #0678A6;
}

form input[type=tel] {
    text-align: left;
    box-sizing: border-box;
    padding: 0 10px;
    margin: 12px auto;
    width: 80%;
    height: 32px;
    border: 1px solid #0678A6;
}

form textarea {
    text-align: left;
    width: 80%;
    height: 125px;
    padding: 5px 10px;
    margin: 12px auto;
    border: 1px solid #0678A6;
    box-sizing: border-box
}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/* General Settings End */

/* Contact Box Button Settings */

.contact-header svg {
    padding: 0;
    margin-left: -4px;
    width: 100px;
    opacity: 0.5;
    filter: grayscale(100%);
    transition: all 300ms ease-in-out;
}

.contact-header svg:hover {
    opacity: 1;
    filter:grayscale(0%);
    cursor: pointer;
}


/* Contact Box Button Settings End */

/* 3D Cube element settings */

.contact-cube--wrap {
    -webkit-perspective: none;
    perspective: none;
    perspective-origin: 50% 50%;
    margin-left: 38px;

}

.cube {
    position: relative;
    width: 500px;
    transform-style: preserve-3d;
}

.cube div {
    position: absolute;
    width: 500px;
    height: 500px;
}

.back {
    transform: translateZ(-250px) rotateY(180deg);
}

.right {
    transform: rotateY(-270deg) translateX(250px);
    transform-origin: top right;
}

.left {
    transform: rotateY(270deg) translateX(-250px);
    transform-origin: center left;
}

.top {
    transform: rotateX(-90deg) translateY(-250px);
    transform-origin: top center;
}

.bottom {
    transform: rotateX(90deg) translateY(250px);
    transform-origin: bottom center;
}

.front {
    transform: translateZ(250px);
}

.cube {
    transform: rotateY(0deg);
    transition: transform 600ms ease-in-out;
}


/* 3D Cube element settings */

/* Animation container */

#animation_container {
    display: block;
    background-color:rgba(255, 255, 255, 1.00);
    width: 400px;
    height: 150px;
}

#canvas, dom_overlay_container {
    position: absolute;
    left: 48px;
    top: 0;
    margin: 0 auto;
}


/* Animation container end */

